{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- Main content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <h2 class="text-center display-4">Bạn muốn tập phát âm từ nào?</h2>
            <div class="row">
                <!-- Word search bar -->
                {% include 'wordcomponents/_wordSearchBar.html' %}
                <!-- /.Word search bar -->
            </div>
        </div>

    {% include 'wordcomponents/_todayWordCard.html' %}
        
    </section>
</div>
<!-- /.content-wrapper -->
{% endblock %}
