{% load static %}

<!-- Word card -->

<div class="row" style="background-color: transparent; height: 2rem;"></div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card card-primary card-outline" style="align-items: center;">
                <div class="card-header" >
                    <p style="font-weight: bold; text-transform: uppercase; text-align: center; padding-left: 10px; font-size: 35px;">
                        Từ của hôm nay
                    </p> 
                    <div id="currentDate" style="text-align: center; padding-left: 10px; font-size: 20px;"></div>
                    </div>
                <div class="card-body col-md-12">
                    <div class="row">
                        <div class="col-md-4 align-items: middle" style="display: flex; flex-direction: column; justify-content: center;">
                            <h3 style="font-weight: bold; text-transform: uppercase; font-size: 30px;">word</h3>
                            <div class="row">
                                <div>
                                    <p style="font-size: 20px;">/wɜːrd/</p>
                                </div>
                                <div class="offset-md-1">
                                    <img src="{% static 'img/audio.png' %}" alt="Audio" style="width: 30px; height: 30px;">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 offset-md-1">
                            <p style="font-size: 20px;">(Noun): Từ, chữ</p>
                            <p style="font-size: 20px;">Ví dụ: I don't know the meaning of this word.</p>
                        </div>
                    </div>
                    <div class="row" style="display: flex; text-align: center; justify-content: center;">
                        <p style="font-size: 20px; color: #0000FF;">Nhấn để kiểm tra phát âm</p>
                    </div>
                    <div class="row">
                        <div class="mx-auto" style="display: flex; align-items: center; justify-content: center; margin-top: 0px;">
                            <div  style="background-color: blue; width: 60px; height: 60px; border-radius: 50%; display: flex; align-items: center; justify-content: center;text-align: center;">
                                <img src="{% static 'img\microphone.png' %}" alt="Microphone Icon" style="height: 30px; width: auto;">
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    // Get the current date
                    var currentDate = new Date();

                    // Format the date as "Ngày .. Tháng .. Năm ...."
                    var formattedDate = "Ngày " + currentDate.getDate() + " Tháng " + (currentDate.getMonth() + 1) + " Năm " + currentDate.getFullYear();

                    // Insert the formatted date into the HTML
                    document.getElementById("currentDate").innerHTML = formattedDate;
                </script>
            </div>
        </div>
    </div>
</div>

<!-- /. word card -->